@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Outfit:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020205;
  color: #fff;
  font-family: var(--font-sans);
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}